<!DOCTYPE html>
<html lang="en">


    {{> head }}

    {{> navbar }}

<div class="row">

    <div class="col-8">
       <h1>Imagen</h1>
       <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti eligendi, magni et ad dolorum placeat porro non voluptatibus, sit iure laboriosam vitae eum, excepturi optio. Alias iste cupiditate tenetur quod?
       </p>
    </div>

    <div class="col-4">
        <img src="assets/img/me.jpg" class="img-thumbnail">

    </div>
</div>
    

    {{> footer }}